html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body{
  font-family: Georgia, '游明朝', YuMincho, 'Hiragino Mincho ProN', Meiryo, serif;
}

a{
  text-decoration: none;
}

a:hover{
  color:#c49029;
}

li{
  list-style: none;
}

*{
  box-sizing: border-box;
}

.container{
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.container-img{
  width: 100%;
}

header{
  padding-top: 50px;
}

header p {
  padding-top: 4px;
  color: #777;
}

.menu-icon {
  text-align: right;
  position: fixed;
  top: 10px;
  right: 5px;
  z-index: 10;
}

nav {
  display: none;
}

nav ul{
  display: flex;
  padding-bottom: 50px;
}

nav li{
  padding-right: 20px;
}

nav a {
  display: inline-block;
  color: #444;
}

.angle {
  padding-left: 8px;
}

header img {
  padding-top: 40px;
  width: 100%;
}

header > .container > p{
  font-size: 23px;
  padding-top: 60px;
  padding-bottom: 70px;
}

section {
  margin-bottom: 60px;
}

.date a {
  color: #666;
  display: block;
}

.text h2 {
  padding-top: 10px;
  padding-bottom: 25px;
}

.heading{
  color: #111111;
}

.text p {
  color: #666;
}

.page-selection{
  padding-bottom: 80px;
  border-bottom: 1px solid #ddd;
}

.page-selection a {
  display: inline-block;
  color: #666;
  border: 1px solid #ddd;
}

.page-number {
  display: none;
}

.page-number a {
  padding: 10px 15px;
  margin-right: 10px;
}

.next{
  padding: 8px 18px;
}

.profile p {
  color: #666;
}

.profile-info{
  padding-top: 80px;
  display: flex;
}

.foto img{
  width: 100px;
  border-radius: 50%;
}

.info{
  align-self: center;
  margin-left: 20px;
}

.info ul{
  margin-top:5px;
  display: flex;
} 

.info a {
  display: inline-block;
}

.icon{
  font-size: 24px;
  margin-right: 3px;
  color: #999;
  opacity: 0.8;
}

.icon:hover{
  opacity: 1;
}

.profile > p {
  padding-top: 20px;
}

.footer-right { 
  padding-top: 50px;
}

.footer-right p {
  color: #666;
  padding-bottom: 100px;
}

.footer-heading {
  font-weight: normal;
  font-size: 16px;
  color: #333;
  letter-spacing: 1px;
  margin-bottom: 30px;
}

.current-post {
  margin-bottom: 60px;
}

.post {
  margin-bottom: 15px;
}

.post a {
  color: #666;
  border-bottom: solid 1px #ddd;
}

.post p {
  color: #666;
  margin-top: 4px;
  font-size: 14px;
}

.category {
  padding-bottom: 50px;
  border-bottom: 1px solid #ddd;
}

.category ul {
  margin-bottom: 60px;
}

.category li {
  margin-bottom: 15px;
}

.category a {
  color: #666;
  border-bottom: solid 1px #ddd;
}

input {
  width: 100%;
  border: solid 1px #e6e6e6;
  color: #ddd;
  padding: 6px 10px;
  max-width: 320px;
}


.footer-end {
  padding-top: 45px;
}

.footer-end ul {
  display: flex;
  padding-bottom: 25px;
}

.footer-end p{
  font-size: 13px;
  color: #ddd;
  padding-bottom: 30px;
}

.footer-end a{
  font-size: 13px;
  color: #666;
}


























